.product-card {
  height: 36rem;
  transition: background-color 0.3s ease;
  overflow: hidden;
  background-color: #fff;

  &.hovered {
    background-color: var(--background2-color);
    border: 1px solid #fcd9b6;

    .more-details-btn {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  .card-body {
    padding: 1rem;
  }

  .more-details-btn {
    margin-top: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.3s ease-in-out,
    color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }

  img {
    height: 18rem;
    object-fit: cover;
  }

  .button-placeholder {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .favorite-icon {
    font-size: 1.25rem; // Adjust size as needed
    color: var(--bs-secondary); // Default Bootstrap muted color
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out; // Added transform
    flex-shrink: 0; // Prevent icon from shrinking if title is long

    &:hover {
      transform: scale(1.1);
      color: var(--bs-danger); // Bootstrap danger color
    }

    // Style when the product IS favorite
    &.favorite {
      color:  var(--bs-danger); // Bootstrap danger color (red)
    }

    // Apply animation when this class is added
    &.animate-heartbeat {
      animation: heartbeat 0.5s ease-in-out;
    }
  }
}

// --- Heartbeat Animation Definition ---
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.35); // Increase size
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.2); // Smaller increase
  }
  100% {
    transform: scale(1); // Back to normal
  }
}
