<nav class="rounded-2 border border-1 border-secondary-subtle overflow-hidden col-12">
  <ul class="list-unstyled mb-0 p-0 d-flex flex-row flex-md-column col-12">
    <li class="col-3 col-md-12">
      <a class="d-flex flex-column flex-sm-row align-items-center gap-3 p-3 text-muted text-decoration-none w-100 h-100" routerLink="info" routerLinkActive="active">
        <fa-icon [icon]="faUser"></fa-icon>
        <span>{{'profile.myInfo' | translate}}</span>
      </a>
    </li>
    <li class="col-3 col-md-12">
      <a class="d-flex flex-column flex-sm-row align-items-center gap-3 p-3 text-muted text-decoration-none w-100 h-100" routerLink="addresses" routerLinkActive="active">
        <fa-icon [icon]="faMapLocationDot"></fa-icon>
        <span>{{'profile.myAddresses' | translate}}</span>
      </a>
    </li>
    <!--    change password-->
    <li class="col-3 col-md-12">
      <a class="d-flex flex-column flex-sm-row align-items-center gap-3 p-3 text-muted text-decoration-none w-100 h-100" routerLink="change-password" routerLinkActive="active">
        <fa-icon [icon]="faLock"></fa-icon>
        <span>{{'profile.changePassword' | translate}}</span>
      </a>
    </li>
    <li class="col-3 col-md-12">
      <a class="d-flex flex-column flex-sm-row align-items-center gap-3 p-3 text-muted text-decoration-none w-100 h-100" routerLink="orders" routerLinkActive="active">
        <fa-icon [icon]="faShoppingBag"></fa-icon>
        <span>{{'profile.myOrders' | translate}}</span>
      </a>
    </li>
  </ul>
</nav>
