.contact-details-list {
  dt {
    flex-shrink: 0;
  }
  dd strong {
    font-weight: 600;
  }
}

.social-links-list {
  .social-icon-wrapper {
    height: 40.5px;
    width: 40.5px;
  }
}

.contact-image-wrapper {
  height: 600px;
}

.contact-image {
  object-fit: cover;
  object-position: center;
}

