<main class="not-found-container">
  <section class="not-found-content">
    <h1 class="not-found-title">{{'notFound.title' | translate}}</h1>
    <h2 class="not-found-subtitle">{{'notFound.subTitle' | translate}}</h2>
    <p class="not-found-message">
      {{'notFound.message' | translate}}
    </p>
    <nav class="not-found-actions" aria-label="Navigation options from error page">
      <a routerLink="/" class="btn btn-main-primary">{{'notFound.goHome' | translate}}</a>
      <a routerLink="/categories" class="btn btn-outline-main-primary">{{'notFound.browseCategories' | translate}}</a>
      <!-- You could also add a link to a sitemap or a search bar here -->
    </nav>
  </section>
</main>
