:host {
  display: block;
  height: 100vh;
}

.app-drawer-container {
  height: 100%;
}

.main-content-area {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

mat-progress-bar.loading-indicator,
.main-content-area > mat-progress-bar {
  width: 100%;
  z-index: 10;
}

.main-content-area > main {
  width: 100%;
  flex-grow: 1;
}
