<section class="custom-carousel-container" aria-labelledby="hero-carousel-heading">
  <!-- Added an h1 for screen readers/SEO, visually hidden -->
  <h2 id="hero-carousel-heading" class="visually-hidden">Featured Content Carousel</h2>

  <ngb-carousel *ngIf="carouselData.length > 0">
    <ng-container *ngFor="let item of carouselData; let i = index">
      <ng-template ngbSlide>
        <figure class="picsum-img-wrapper m-0">
          <!-- Use the imageUrl and altText from the item -->
          <img [src]="item.imageUrl" [alt]="item.altText || 'Carousel slide ' + (i + 1)" loading="lazy"/>
          <!-- Consider adding figcaption if appropriate, but caption-container handles text overlay -->
        </figure>
        <div class="caption-container p-5">
          <div class="container d-flex flex-column gap-3 gap-md-4 gap-lg-5 h-100 justify-content-center">

            <!-- slide title - Use heading tags for importance -->
            <h3 class="col-12 col-md-6 m-0 fs-6" *ngIf="item.title">
              {{item.title}}
            </h3>

            <!-- Secondary title/subtitle -->
            <h4 class="col-12 col-md-6 zapf-font fs-25 m-0 fs-1" *ngIf="item.title2">
              {{item.title2}}
            </h4>

            <!-- slide content - Paragraph is appropriate here -->
            <p class="col-12 col-md-10 col-lg-6 fs-2 m-0" *ngIf="item.description">
              {{item.description}}
            </p>

            <!-- Call to action - Anchor tag is correct -->
            <a class="btn btn-main-primary col-12 col-md-4 col-lg-3 d-flex align-items-center
            justify-content-center gap-2 text-light py-3" [routerLink]="['/categories']">
              <span>{{'checkCategories' | translate}}</span>
              <span>
                <fa-icon [icon]="faArrowRight" *ngIf="currentLang === 'en'"></fa-icon>
                <fa-icon [icon]="faArrowLeft" *ngIf="currentLang === 'ar'"></fa-icon>
              </span>
            </a>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </ngb-carousel>
</section>
