:host-context([dir="rtl"]) {
  .accordion-button::after {
    margin-left: 0 !important;
    margin-right: auto !important;
  }
}

.footer {
  color: #333;
  z-index: -1;

  .logo img {
    max-width: 7.0625rem;
  }

  nav ul li a {
    transition: color 0.3s ease;

    &:hover {
      color: #e76f51 !important;
    }
  }

  .social-media a {
    font-size: 1.5rem;
    transition: color 0.3s ease;

    &:hover {
      color: #e76f51 !important;
    }
  }
}
