<h1 class="visually-hidden">{{'category.mainTitle' | translate}}</h1>
<section class="p-3 p-md-5 bg-main-background2" aria-labelledby="categories-heading">
  <h2 id="categories-heading" class="visually-hidden">Categories</h2>
  <h3 class="fs-2 mb-3 mt-5 text-center zapf-font">{{'home.categories' | translate}}</h3>
  <p class="text-center">{{'home.creativeCorners' | translate}}</p>

  <div *ngIf="categoryRows.length > 0">
    <div class="container d-none d-sm-flex flex-column py-2 gap-3 rows-container" *ngFor="let row of categoryRows">
      <app-categories-row [categories]="row"></app-categories-row>
    </div>
  </div>

  <div class="mb-5 d-flex d-sm-none justify-content-center categories-mobile-container overflow-hidden" *ngIf="categories.length > 0">
    <app-categories-splides [categories]="categories"></app-categories-splides>
  </div>

  <div class="d-flex justify-content-center my-3 my-md-4">
    <a type="button" class="btn btn-main-primary d-flex align-items-center gap-2 p-3 text-light" routerLink="/categories">
      <span>
        {{'home.allCategories' | translate}}
      </span>
      <span>
        <fa-icon [icon]="faArrowRight" *ngIf="currentLang === 'en'"></fa-icon>
        <fa-icon [icon]="faArrowLeft" *ngIf="currentLang === 'ar'"></fa-icon>
      </span>
    </a>
  </div>
</section>
<!--category collections-->
<ng-container *ngIf="categories.length > 0">
  <div class="p-3 p-md-5 d-flex flex-column gap-3 gap-md-5">
    <app-category-collection
      *ngFor="let category of categories"
      [category]="category"
      [products]="category.products"
      [limitCount]="4"
      [isLoading]="category.isLoadingProducts"
      (favoriteToggleRequested)="handleFavoriteToggle($event)"></app-category-collection>
  </div>
</ng-container>

